pyserial
flask
flask-sock
pygame
yt-dlp
edge-tts
requests
certifi
qrcode
Pillow
gTTS
waitress
googletrans==4.0.0-rc1
bcrypt
pystray
gradio
WeTextProcessing
diffusers
hydra-core
onnxruntime
speechbrain
