pyserial
flask
flask-sock
pygame==2.5.2
yt-dlp
edge-tts
requests
certifi
qrcode
Pillow
gTTS
waitress
googletrans==4.0.0-rc1
bcrypt
# pystray (Depends on X11, not for headless)
# Heavy AI/ML removed for Render Free Tier to avoid memory error
# gradio
# WeTextProcessing
# diffusers
# hydra-core
# onnxruntime
# speechbrain
